---
layout: base.njk
title: List of Posts
description:  Read OSIA's posts regarding a variety of open source topics
permalink: "/posts/"
---

<h1>Our Posts</h1>

{% include "partials/postsList.njk" %}


<div class="d-flex justify-content-center gap-3 my-4">
    {% include "partials/homeBtn.njk" %}
</div>