@font-face {
  font-family: "Onest";
  src: url("/assets/fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --bs-primary: #0085b5;
  --bs-primary-rgb: 0, 133, 181;
  --bs-primary-text-emphasis: #093e52;
  --bs-secondary: #ffcd00;
  --bs-secondary-rgb: 255, 205, 0;
  --bs-secondary-text-emphasis: #cda500;
  --bs-heading-color: var(--bs-primary);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Onest", var(--bs-body-font-family);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-text-emphasis) ;
  --bs-btn-hover-border-color: var(--bs-primary-text-emphasis) ;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #9b184d;
  --bs-btn-hover-border-color: #9b184d;
}

.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-active-bg: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-disabled-color: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
}


#navbar-main .nav-link {
  --bs-nav-link-padding-x: 1rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar-main .nav-link:hover {
  color: var(--bs-primary);
}

#footer-main .nav-link {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px var(--bs-border-style) transparent !important;
  border-radius: 0px;
}

#footer-main .nav-link:hover {
  border-bottom: 2px var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-width: 3px;
}

.border-primary-hover {
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.border-primary-hover:hover {
  border-color: rgba(var(--bs-primary-rgb), 1) !important;
}

.border-secondary-hover {
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.border-secondary-hover:hover {
  border-color: rgba(var(--bs-secondary-rgb), 1) !important;
}

.text-preline {
  white-space: pre-line;
}



.footer-wrapper {
  position: relative;
}

.footer-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(135deg, #0085b5 0%, #045f80 29.8%, #016185 69.3%, #043d52 100%); */
  background-color: var(--bs-primary-text-emphasis);
  opacity: 1;
  pointer-events: none;
  z-index: 10;
  mix-blend-mode: lighten;
}

.divider {
  --divider-url: url('/assets/space-divider.svg');
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
  z-index: 3;
  isolation: isolate;
}


.divider::before {
  content: "";
  display: block;
  padding-bottom: 7%;
}


.divider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  min-width: 0;
  background-image: var(--divider-url);
  background-position: center top;
  background-size: auto 100%;
  transform: translate(-50%, 50%);
  pointer-events: none;
}


@media (max-width: 1200px) {
  .divider::before {
    padding-bottom: 12%;
  }

  .divider::after {
    width: 300%;
  }
}

@media (max-width: 992px) {
  .divider::before {
    padding-bottom: 15%;
  }

  .divider::after {
    width: 300%;
  }
}

@media (max-width: 768px) {
  .divider::before {
    padding-bottom: 20%;
  }

  .divider::after {
    width: 300%;
  }
}

@media (max-width: 576px) {
  .divider::before {
    padding-bottom: 28%;
  }

  .divider::after {
    width: 300%;
  }
}
