---
layout: base.njk
title: List of Submissions
description:  Read OSIA's submissions to the government and coporate documents
permalink: "/publications/"
---

<h1>Our Submissions</h1>

{% include "partials/submissionsList.njk" %}


<div class="d-flex justify-content-center gap-3 my-4">
    {% include "partials/homeBtn.njk" %}
</div>