---
layout: base.njk
title: Open Source Industry Australia
description: OSIA - Helping Australian Governments to achieve leadership in providing policy frameworks supportive of open standards and of the growth and success of the Australian open source industry. Ensuring Australia’s global standing as the preferred location from which to procure open source services & products.
permalink: "/"
---

<section class="mt-3 mb-5">
  <div class="mb-5">
    <h1 class="">Open Source Industry Australia</h1>
    <p class="lead fs-4">
      Helping Australian Governments to achieve leadership in providing policy frameworks supportive of open standards and of
      the growth and success of the Australian open source industry.
    </p>
    <p class="lead fs-4">
      Ensuring Australia’s global standing as the preferred location from which to procure open source services & products.
    </p>
  </div>
  <div>
    <h2 class="text-secondary-emphasis">Our Submissions</h2>
    {% set type = "preview" %}
    {% set excludeFeatured = true %}
    {% include "partials/submissionsList.njk" %}
  </div>
  {# <div>
    <h2 class="text-secondary-emphasis">Posts</h2>
    {% set type = "preview" %}
    {% set excludeFeatured = true %}
    {% include "partials/postsList.njk" %}
  </div> #}
</section>